* {
  font-family: "HelveticaNeue-Light", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
  margin-bottom: 0px;
}

::-webkit-scrollbar {
    display: none;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 15vmin;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 6vmin;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 4vmin;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 17px;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.topnav {
  margin-left: 3vw;
  margin-top: 5vmin;
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 94vw;
  z-index: 10;
}


.topnav a {
  color: black;
  display: inline-block;
  text-align: center;
  padding-right: 2vw;
  font-size: 4vmin;
}

#insta {
  float: right;
  padding: 0px;
  display: block;
  height: 4vmin;
  width: 4vmin;
}


.images {
  margin-left: 3vw;
  margin-top: 0vh;
  padding: 0px;
  max-width: 94vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bg1 {
  width: 94vw;
  margin-top: 150vh;
}


#fixed_wrapper {
    top: 10vh;
    height: 90vh;
    position: fixed;
    max-width: 94vw;
    width: 94vw;
    overflow: hidden;
    margin-left: 3vw;
}

#fixed_wrapper div{
  color: black;
  height: 90vh;
  display: block;
  min-height: min-content;
  overflow: auto;
  overflow-wrap: anywhere;
  hyphens: auto;
  position: relative;
}

#fixed_wrapper p {
  margin-bottom: 30px;
}

#name {
  margin-top: 30vh; /* 105px = topnav + half the name height */
  margin-bottom: 0px;
}

#reintro {
  position: absolute;
  margin-bottom: 5vh;
  bottom: 0px;
}


.footer {
  margin-top: 50vh;
  padding-left: 0px;
  font-size: 30px;
}

#address {
  position: absolute;
  margin-bottom: 5vh;
  bottom: 0px;
}

.footer a {
  text-decoration: none;
  color: blue;
}

.us a {
  color: black;
}

.links {

}

/* override for moile devices */


@media only screen and (max-width: 700px) {
  .images {
    display: none;
  }

  .topnav {
    display: none;
  }


  #insta {
    display: none;
  }

  h5 {
    font-size: 4vmax;
  }


  #name {
    margin-top: 0vh;
    margin-bottom: 0px;
  }


  #fixed_wrapper {
      top: 2vh;
      height: auto;
      position: absolute;
      display: inline;
      max-width: 94vw;
      width: 94vw;
      overflow: scroll;
      margin-left: 3vw;
  }

  #fixed_wrapper div{
    color: black;
    height: auto;
    overflow: hidden;
    position: relative;
  }

  #reintro {
    position: relative;
    margin-bottom: 5vh;
  }

  .footer {
    margin-top: 0vh;
    padding-left: 0px;
    font-size: 30px;
  }

  #address {
    position: relative;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }

  #button_footer {
    display: none;
  }

}
