* {
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}

body {
  margin-top: 0px;
  padding-top: 0px;
  height: 100%;
  width: 100%;
}


.images {
  margin-left: 50vw;
  margin-top: 50px;
  padding: 0px;
  max-width: 100vw;
  overflow: hidden;
}

.bg1 {
  width: 1000px;
  height: 1200px;
}
#invest {
  color: blue;

}

#threefour{
  color: black;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
  font-size: 85px;
  margin-top: 100px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 17px;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#fixed_wrapper {
    top: 80px;
    height: 100vh;
    position: fixed;
    max-width: 700px;
    width: 100vw;
    overflow: hidden;
}

#fixed_wrapper div{
  margin-left: 5vw;
  color: black;
  height: 90vh;
  margin-bottom: 40vh;
  display: inline-block;
  min-height: min-content;
  overflow: auto;
  overflow-wrap: anywhere;
  hyphens: auto;
}

#music {
  position: relative;
  overflow-y: auto;
}

#podium {
  position: relative;
  overflow-y: auto;
}

#footer {
  margin-top: 3000px;
  margin-left: 700px;
  padding-left: 0px;
  font-size: 30px;
}

#footer p {
  font-size: 30px;
}

#us {

}

.links {
  height: 23px;
  width: 23px;
}

.topnav {
  margin-left: 5vw;
  overflow: hidden;
  top: 15px;
  position: fixed;
  width: 100vw;
  z-index: 10;
}


.topnav a {
  color: black;
  text-align: center;
  padding-right: 30px;
  font-size: 30px;
}

@media only screen and (max-width: 700px) {
  .topnav a {
    display: list-item;
  }

  #fixed_wrapper {
      top: 220px;
  }
  #fixed_wrapper div{
    height: calc(100vh - 220px);
  }
}
